doctype html

html
  head
    // Etiquetas meta
    meta(charset='UTF-8')
    // SEO meta
    meta(property='og:type' content='website')
    meta(property='og:type' content='website')
    meta(property='og:site_name' content='Catto Page')
    meta(http-equiv='Cache-control' content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma' content='no-cache')
    link(rel='icon' type='x-icon' href='media/icon.png')
    // Ajustes meta
    meta(property='og:locale' content='es-ES')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Hojas de estilo
    link(rel='stylesheet' href='./css/newEmbedBuilder/style.css')
    link(rel='stylesheet' href='./css/newEmbedBuilder/loader.css')
    link(rel='stylesheet' href='./css/newEmbedBuilder/start.css')
    link(rel='stylesheet' href='./css/newEmbedBuilder/userbox.css')
    link(rel='stylesheet' href='./css/newEmbedBuilder/noscript.css')
    link(rel='stylesheet' href='./css/newEmbedBuilder/root.css')
    // Scripts
    script(src='./js/newEmbedBuilder/tools/dataMg.js')
    script(src='./js/newEmbedBuilder/tools/encrypter.js')
    script(src='./js/newEmbedBuilder/tools/indexedDB.js')
    script(src='./js/newEmbedBuilder/tools/loader.js')
    script(src='./js/newEmbedBuilder/tools/functions.js')

    script(src='./js/newEmbedBuilder/start/script.js')
    // Título
    title(translation='title')
  noscript
    .noscriptDiv
      div
        h1 OH NO!
        h2 Your browser does not allow the use of scripts.
        p If you want to access the Catto page, enable the use of scripts in your browser.
  #loadericonarea.active
    .loader
      .bar1
      .bar2
      .bar3
      .bar4
      .bar5
      .bar6
      .bar7
      .bar8
      .bar9
      .bar10
      .bar11
      .bar12
    p#loadingText